$body-bg: #1b0080;
$primary-color: #99dd6e;
$secondary-color: #ccee5d;
$third-color: #673dc7;
$fouth-color: #604da6;
$fifth-color: #deff72;

$white: #fff;
$black: #000;

$fz-sm: 13px;
$fz-base: 14px;
$fz-title: 40px;
$fz-mod-1: 200px;
$fz-mod-2: 280px;
$fz-mod-4: 80px;
$fz-mod-5: 110px;

$font-family: "Montserrat", sans-serif;

$sm: 576px;
$md: 768px;
$lg: 992px;
$x-lg: 1200px;
$xx-lg: 1440px;
