@import "../../assets/scss/index";
.intro {
  padding-bottom: 0px;
  &_container {
    h1 {
      @include fontSize(55px, 9vw, $fz-mod-1);
      font-weight: 600;
      line-height: 1.1;
    }
    a {
      @include fontSize($fz-base - 2px, 2vw, $fz-base);
      font-weight: 500;
      line-height: 3.86;
    }
    :is(h1,a) {
      opacity: 0;
      transform: translateX(-100%);
      transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
  @include minWidth(991px) {
    // padding-bottom: 100px;
  }
  @include minWidth(576px) {
    // padding-bottom: 124px;
  }
  
}
