@import "../../assets/scss/index";

.history {
  background-color: $primary-color;
  padding-block: 3rem 5rem;
  height: 626px;
  & > * {
    color: $body-bg;
  }
  &_container {
    @include flex(baseline, center, column);
    gap: 30px;
    overflow: hidden;
    h2 {
      align-self: center;
      @include fontSize($fz-mod-4 - 30px, 5vw, $fz-mod-4);
      font-weight: 800;
      @include scrollPage(0, -50%, 0);
    }
    h3 {
      @include fontSize($fz-title - 10px, 3vw, $fz-title);
      font-weight: 800;
    }
  }

  &_content {
    display: block;
    padding-inline: 0;

    .swiper-pagination {
      display: none;
    }

    &_item {
      display: inline-block;
      width: 90%;
      @include maxWidth(375px) {
        min-width: 100%;
        text-align: center;
      }
    }

    &_desc {
      position: relative;
      height: 250px;
      @include flex(center, center);
      overflow: hidden;

      @include minWidth(2000px) {
        height: 300px;
      }

      &_item {
        @include maxWidth(767px) {
          margin-block: 0.8rem;
        }
        span {
          font-weight: normal;
          @include minWidth(2000px) {
            @include fontSize(1rem, 4vw, 1.3rem);
          }
        }
        p {
          font-weight: 500;
          @include minWidth(2000px) {
            @include fontSize(1.2rem, 2vw, 1.6rem);
          }
        }
        p,
        span {
          @include maxWidth(767px) {
            @include fontSize(10px, 2vw, 12px);
          }
        }
      }
      .swiper-vertical {
        height: 250px;
        padding-right: 0.8rem;
        width: 100%;
        @include minWidth(1600px) {
          padding-right: 2rem;
        }
        @include minWidth(2000px) {
          height: 300px;
        }
        @include maxWidth(767px) {
          padding-right: 0;
        }
      }
      .swiper-wrapper {
        // @include minWidth(2000px) {
        //   gap: 20px;
        // }
      }
      .swiper-slide {
        // width: auto !important;
        // height: 80px !important;
      }

      &:hover {
        .swiper-scrollbar {
          opacity: 1;
          transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
        }
      }
      .swiper-scrollbar {
        opacity: 0;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }

    @include maxWidth(767px) {
      .swiper-pagination {
        display: block;
        position: relative !important;
        bottom: 0 !important;
      }

      .swiper-pagination-bullet-active {
        background: $body-bg !important;
      }
    }
  }

  &_scroll {
    width: 100%;
    align-self: center;
  }
}
