@import "../../assets/scss/index";

.history {
  background-color: $primary-color;
  padding-block: 3rem 5rem;
  height: 626px;
  & > * {
    color: $body-bg;
  }
  &_container {
    @include flex(baseline, center, column);
    gap: 30px;
    h2 {
      align-self: center;
      @include fontSize($fz-mod-4 - 30px, 5vw, $fz-mod-4);
      font-weight: 800;
      @include scrollPage(0, -50%, 0);
    }
    h3 {
      @include fontSize($fz-title - 10px, 3vw, $fz-title);
      font-weight: 800;
    }
  }
  &_scroll {
    @include maxWidth(767px) {
      overflow-x: scroll;
      width: 100%;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
      }
    }
  }
  &_content {
    display: block;
    width: calc(50vw * 4);
    padding-inline: 0;
    @include maxWidth(576px) {
      gap: clamp(5px, 2vw, 15px);
    }

    &_item {
      width: calc(100% / 3);
    }
    &_desc {
      overflow-y: scroll;
      height: 200px;
      padding-right: 1rem;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      &_item {
        margin-block: 1.8rem;
        @include maxWidth(767px) {
          margin-block: 0.8rem;
        }
        span {
          font-weight: normal;
        }
        p,
        span {
          @include maxWidth(767px) {
            @include fontSize(10px, 2vw, 12px);
          }
        }
      }
    }
  }
  @include minWidth(992px) {
    padding-inline: clamp(4rem, 8vw, 12rem);
  }
  @include minWidth(768px) {
    &_content {
      padding-inline: clamp(2rem, 2vw, 6rem);
      @include flex(center, center, row);
      gap: 30px;
      width: auto;
    }
  }
  @include maxWidth(767px) {
    &_content {
      &_item {
        display: inline-block;
        width: 50vw;
        padding-inline: 1rem;
      }
    }
  }
}
