@import "../../assets/scss/index";

.history {
  background-color: $primary-color;
  padding-block: 3rem 5rem;
  height: 626px;
  & > * {
    color: $body-bg;
  }
  &_container {
    @include flex(baseline, center, column);
    gap: 30px;
    overflow: hidden;
    h2 {
      align-self: center;
      @include fontSize($fz-mod-4 - 30px, 5vw, $fz-mod-4);
      font-weight: 800;
      @include scrollPage(0, -50%, 0);
    }
    h3 {
      @include fontSize($fz-title - 10px, 3vw, $fz-title);
      font-weight: 800;
    }
  }
  // &_scroll {
  //   width: 100%;
  //   overflow-x: scroll;
  //   &::-webkit-scrollbar {
  //     width: 2px;
  //     height: 6px;
  //   }
  //   &::-webkit-scrollbar-thumb {
  //     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  //   }
  // }
  .swiper-wrapper {
    width: 575px;
    padding-inline: 20px;
  }

  @media screen and (min-width: 576px) {
    .swiper-wrapper {
      width: 767px;
    }
  }

  @media screen and (min-width: 768px) {
    .swiper-wrapper {
      width: 1023px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .swiper-wrapper {
      min-width: 1920px;
    }
  }
  
  .swiper-slide {
    // width: 88vw !important;
    // @include minWidth(1024px) {
    //   width: 22vw !important;
    // }
  }
  &_content {
    display: block;
    padding-inline: 0;
    // width: calc(30vw * 8);

    &_item {
      display: inline-block;
    }
    &_desc {
      overflow-y: scroll;
      height: 200px;
      padding-right: 1rem;
      &::-webkit-scrollbar {
        width: 6px;
      }
      &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
      &_item {
        margin-block: 1.8rem;
        @include maxWidth(767px) {
          margin-block: 0.8rem;
        }
        span {
          font-weight: normal;
        }
        p,
        span {
          @include maxWidth(767px) {
            @include fontSize(10px, 2vw, 12px);
          }
        }
      }
    }
  }
}
